.header {
    width: 100%;
    height: 15%;
    background-color: white;
}

.card img {
    width: 100%;
}

.card .card-header img {
    max-width: 40px;
    border-radius: 50%;
}

.card .card-header {
    display: flex;
    align-items: center;
    background-color: white;
}

.card-footer {
    background-color: white;
}

.container-feed {
    display: flex;
    margin: 0 70px 0 70px;
    width: 100%;
    flex-wrap: wrap;
}

.container-feed div {
    flex-basis: 55%;
    // border: 3px solid rgba(0, 0, 0, .2);
}

.post {
    flex-shrink: 1;
}

.container .container-feed .left-side {
    flex-shrink: 1;
    position: fixed;
    margin-left: 40rem;
    width: 30%;
    height: 100%;
}

.container {
    padding: 0 120px 0 120px;
    box-sizing: border-box;
}

.left-side-profile {
    display: flex;
    position: relative;
    width: 100%;
    height: 10%;
    padding: 5px;
    align-items: center;
    padding: 10px;
}

.left-side-profile img:before {
    width: 10px;
    height: 10px;
    background-color: red;
}

.left-side-profile img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.container-feed {
    a,
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: $black-80;
        line-height: 1;
        font-weight: bold;
    }
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    a {
        color: $black-90;
    }
    a:hover {
        color: $black-60;
        text-decoration: none;
    }
}

.my-day-section {
    width: 100%;
    height: 125px;
    background-color: white;
    margin-bottom: 10px;
}

//post-action
.post-action {
    margin: 0 12px 0 12px;
    display: flex;
    &+div {
        padding-right: 0;
    }
    img {
        width: 50px;
        height: 50px;
    }
    div {
        padding: 0.7 1rem 0.7 1rem;
    }
    .nt-block .bookmark img {
        float: right;
    }
}

.st-block {
    display: flex;
    img {
        padding-right: 25px;
    }
}

.nd-block {
    .bookmark {
        float: right;
        padding: 4px;
        margin: 5px;
    }
    img {
        width: 27px;
        height: 27px;
    }
}

.comment-section {
    display: flex;
    p {
        align-items: center;
    }
    textarea {
        height: 2.5rem;
        width: 100%;
        border: none;
        background: transparent;
        resize: none;
    }
    textarea:hover {
        height: 2.5rem;
        width: 100%;
        border: 0 solid transparent;
        background: transparent;
    }
}

// .container .container-feed .post {
//     overflow: scroll;
//     overflow-x: hidden;
//     overflow-y: hidden;
//     width: 1000px;
//     height: 800px;
// }
:root {
    --font-primary: 'Open Sans', sans-serif;
    --color-gray: #dadce0;
}

// Global
*,
 ::after,
 ::before {
    box-sizing: border-box;
}

// body {
//     font-size: 1rem;
//     -webkit-text-size-adjust: 100%;
//     font-family: var(--font-primary);
//     overflow: hidden;
// }
hr {
    border: 0;
    height: 0;
    margin: 1.5rem 0;
    border-top: 1px solid var(--color-gray);
}

// Header Menu
.header {
    padding: 2rem 5rem 2rem 5rem;
    &__nav {
        position: relative;
    }
    &__navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__item {
        padding: 1rem;
    }
    &--icon {
        width: 1.65rem;
        height: 1.65rem;
    }
    &--button {
        top: 0;
        right: 0;
        position: absolute;
        margin: 0;
        padding: 0;
        color: gray;
        cursor: pointer;
        border: 1px solid transparent;
        background-color: transparent;
        &:focus {
            outline: 0;
        }
    }
}

// Dropdown Menu
#app .dropdown__menu {
    top: 100%;
    right: 0;
    position: absolute;
    height: 25rem;
    min-width: 300px;
    margin-top: 1rem;
    padding: 2rem 1rem 2rem 0rem;
    border-radius: 12px;
    background-color: white;
    border: 1px solid var(--color-gray);
    background-clip: padding-box;
    ul {
        position: fixed;
        list-style-type: none;
        background-color: white;
    }
    &-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.6);
        padding: 0.8rem 0 0.8rem 2rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        border-radius: 0 50px 50px 0;
        &:hover {
            color: #17bf63;
            background-color: rgba(79, 192, 141, 0.1);
        }
    }
    &-svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    &-text {
        font-weight: 300;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    &-ul {
        list-style-type: none;
    }
}

// Animation Menu Icon
.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.6s;
}

.slide-fade-enter,
.slide-fade-leave-active {
    opacity: 0;
}

.slide-fade-enter {
    transform: translateX(31px);
}

.slide-fade-leave-active {
    transform: translateX(-31px);
}

// Dropdown Menu Animation
.dropdown-enter-active,
.dropdown-leave-active {
    transition: all 0s;
}

.dropdown-enter,
.dropdown-leave-to {
    opacity: 0;
    transform: translateY(30px);
}