#app .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#app .container .container-feed {
    margin-top: 3rem;
}

#app #rside-items .nav-item .dropdown .show {
    z-index: 2;
    position: fixed;
}

input[type="text"],
input[type="password"],
textarea,
select {
    outline: none;
}

.nav-link img {
    width: 25px;
    height: 25px;
    padding-right: 3px;
}

// #app .container-nav {
//     padding: 0 70px 0 70px;
// }