.inbox-wrapper {
    margin-top: 30px;
    height: 900px;
    .container {
        padding: 25px 85px 25px 85px;
        max-height: 500px;
        height: inherit;
    }
    img,
    p {
        cursor: pointer;
    }
}

.inbox {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(184, 175, 175, 0.822);
}

.inbox-sidebar {
    flex-grow: 1;
    flex-basis: 38%;
    height: inherit;
}

.sidebar-header {
    border-radius: 8px 0 0 0;
    border: 1px solid rgba(184, 175, 175, 0.822);
    width: 100%;
    height: 65px;
    padding: 0 14px 0 14px;
    display: flex;
    align-items: center;
    img {
        float: right;
        width: 30px;
        height: 30px;
    }
    p {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }
}

.sd-st-hd {
    flex-basis: 87%;
}

.body-header {
    width: 100%;
    height: 65px;
    border: 1px solid rgba(184, 175, 175, 0.822);
    border-radius: 0 8px 0 0;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    .st-bh {
        display: flex;
        flex-basis: 50%;
        .bh-icon img {
            width: 25px;
            border-radius: 50%;
        }
        .bh-icon {
            padding-right: 15px;
        }
        .bh-name p {
            margin: 0;
            font-weight: 600;
            font-size: 16px;
        }
    }
    .nd-bh {
        flex-basis: 50%;
        float: right;
        img {
            width: 25px;
            float: right;
        }
    }
}

.inbox-body {
    height: inherit;
    flex-grow: 1;
    flex-basis: 70%;
}

.chat-body {
    width: 100%;
    height: 810px;
    padding-top: 5px;
    overflow-y: scroll;
}

.chat-user {
    width: 100%;
    height: 76px;
    padding: 4px 18px 4px 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .cu-name {
        width: 220px;
        margin: 20px 0 20px 0;
        height: 40px;
        p {
            margin: 0;
        }
    }
    .cu-icon {
        width: 70px;
        margin-right: 12px;
        padding: 5px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

.chat-user:hover {
    background-color: rgba(241, 239, 239, 0.3);
}

.message-box {
    width: 100%;
    height: 700px;
    background-color: white;
    overflow-y: scroll;
    padding: 0 30px 0 30px;
    p {
        margin: 0;
    }
    .sender {
        float: left;
        padding: 5px 20px 5px 20px;
        border-radius: 30px;
        border: 1px solid #EFEFEF;
    }
    .receiver {
        float: right !important;
        background-color: #EFEFEF;
        border-radius: 30px;
        padding: 5px 20px 5px 20px;
    }
}

.message-footer {
    width: 100%;
    height: 110px;
    padding: 30px 20px 30px 20px;
    z-index: 1;
    align-items: center;
    .message-input {
        width: 100%;
        height: 3rem;
        border-radius: 30px;
        resize: none;
        padding: 10px 100px 10px 60px;
        line-height: 1.6;
        z-index: 0;
        overflow-x: hidden;
    }
    .st-img {
        position: absolute;
        width: 45px;
        height: 3rem;
        padding-left: 20px;
        z-index: 1;
    }
    .nd-img {
        position: absolute;
        width: 30px;
        height: 3rem;
        margin-left: -90px;
    }
    .rd-img {
        position: absolute;
        width: 30px;
        height: 3rem;
        margin-left: -50px;
    }
}

@media (max-width: 926px) {
    .inbox-wrapper {
        .container {
            padding: 0;
            margin: 0;
        }
    }
}