// Body
$body-bg: #f5f8fb;
// Typography
$font-family-sans-serif: 'Open Sans',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-weight: 700;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
//darkgrey
$dg-10: rgb(169, 169, 169, .1);
$dg-20: rgb(169, 169, 169, .2);
$dg-30: rgb(169, 169, 169, .3);
$dg-40: rgb(169, 169, 169, .4);
$dg-50: rgb(169, 169, 169, .5);
$dg-60: rgb(169, 169, 169, .6);
$dg-70: rgb(169, 169, 169, .7);
$dg-80: rgb(169, 169, 169, .8);
//black
$black-10: rgb(8, 8, 8, .1);
$black-20: rgb(8, 8, 8, .2);
$black-30: rgb(8, 8, 8, .3);
$black-40: rgb(8, 8, 8, .4);
$black-50: rgb(8, 8, 8, .5);
$black-60: rgb(8, 8, 8, .6);
$black-70: rgb(8, 8, 8, .7);
$black-80: rgb(8, 8, 8, .8);
$black-90: rgb(8, 8, 8, .9);
