<template>
  <div id="appvue" class="pt-100" style="margin-top:100px;">
    <button class="btn btn-primary">{{msg}}</button>
    <div v-bind:key="todo.id" v-for="todo in todos">
      <h3>{{todo.tittle}}</h3>
    </div>
  </div>
</template>
<script>
export default {
  name: "appvue",
  components: {},
  data() {
    return {
      todos: [
        {
          id: 1,
          tittle: "todo 1",
          completed: false,
        },
        {
          id: 2,
          tittle: "todo 2",
          completed: false,
        },
      ],
      msg: "hello",
    };
  },
  mounted() {
    console.log("Component mounted.");
  },
};
</script>



